body{
    background-color:#2a2541;
}

@font-face {
    font-family: 'Modern DOS';
    src: url('Fonts/ModernDOS.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('Fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

.skid{
    background-image: url(speed.gif);
}

.error{
    background-image: url(Error.webp);
    background-size: contain;
}

#welcome{
    text-align: center;
    letter-spacing: 0.2em;
    font-family: 'Modern DOS';
    color:#ff0051;
}

#name{
    text-align: center;
    font-family: 'Modern DOS';
    font-size: 3em;
    letter-spacing: auto;
    color: #71faff;
    text-shadow: 0 0 20px;
    padding-top: 1em;
}

.slide-in-welcome{
    position: relative;
    top: -100em;
    transition: top 1s;
}

.slide-in-welcome.animate{
    top: 0;
}

.fade-in{
    opacity: 0;
    transition: opacity 1s;
}

.fade-in.animate{
    opacity: 1;
}

#pfp{
    height: 15em;
    width: 15em;
    border-radius: 50em;
    border: none;
    box-shadow: 0 0 40px black;
    border-width: 0.5em;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.fade-in2{
    opacity: 0;
    transition: opacity 1s;
}

.fade-in2.animate{
    opacity: 1;
}

.abil{
    text-align: center;
    color: #ffb300;
    letter-spacing: 0.2em;
    font-family: 'Modern DOS';
    opacity: 0;
    transition: opacity 1s;
}

.abil.animate{
    opacity: 1;
}

.abil2{
    text-align: center;
    color: #ffb300;
    letter-spacing: 0.2em;
    font-family: 'Modern DOS';
    opacity: 0;
    transition: opacity 1s;
}

/*peak coding*/

.abil2.animate{
    opacity: 1;
}

#sub{
    border: none;
    border-radius: 50em;
    position: absolute;
    left: 30%;
    transform: translate(-50%);
    background-color: transparent;
    height: 3em;
    width: auto;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    transition: height 1s, padding-bottom 1s;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-family: 'Modern DOS';
}

#sub:hover{
    height: 3.5em;
    width: auto;
}

#sub::after{
    content: attr(data-tooltip);
    position: absolute;
    letter-spacing: 0.2em;
    font-family: 'Modern DOS';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

#sub:hover::after{
    opacity: 1;
    transform: translateX(-50%);
}


#yt{
    height: 3em;
    width: auto;
    transition: filter 1s, height 1s;
}

#yt:hover{
    height: 3.5em;
    width: auto;
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%);
}

#follow{
    border: none;
    border-radius: 50em;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
    height: 3em;
    width: auto;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    transition: height 1s;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-family: 'Modern DOS';
}

#follow::after{
    content: attr(data-tooltip2);
    position: absolute;
    letter-spacing: 0.2em;
    font-family: 'Modern DOS';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

#follow:hover::after{
    opacity: 1;
    transform: translateX(-50%) translateY(40%)
}

#twt{
    height: 3em;
    width: auto;
    transition: filter 1s, height 1s;
}

#twt:hover{
    height: 3.5em;
    width: auto;
    filter: grayscale(100%) brightness(15%) sepia(0%) hue-rotate(0deg) saturate(0%);
}

#join{
    border: none;
    border-radius: 50em;
    position: absolute;
    left: 70%;
    transform: translate(-50%);
    background-color: transparent;
    height: 3em;
    width: auto;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    transition: height 1s;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-family: 'Modern DOS';
}

#disc{
    height: 3em;
    width: auto;
    transition: filter 1s, height 1s;
}

#disc:hover{
    height: 3.5em;
    width: auto;
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(180deg) saturate(500%);
}

#join::after{
    content: attr(data-tooltip3);
    position: absolute;
    letter-spacing: 0.2em;
    font-family: 'Modern DOS';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

#join:hover::after{
    opacity: 1;
    transform: translateX(-50%) translateY(40%)
}

#menu{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    border: solid;
    border-width: 0.3em;
    height: 46em;
    width: 30em;
    align-items: center;
    left: 50%;
    top: 16%;
    padding-top: 1em;
    transform: translate(-50%, -15%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    animation-name: box;
    animation-duration: 2s;
}

@keyframes box{
    0% {height: 5em; opacity: 0; background-color: black;}
    10% {height: 5em; opacity: 50%; background-color: white;}
    15% {height: 5em; opacity: 0;}
    25% {height: 5em; opacity: 75%; background-color: #332e57;}
    50% {height: 5em;}
    75% {height: 4em;}
    100% {height: 46em;}
}

#menuRight{
    height: 37em;
    width: 50em;
    font-family: 'Digital', sans-serif;
    letter-spacing: 0.3em;
    left: 100%;
    top: 24.5%;
    transform: translate(-5%, -20%);
    background-color: rgb(21, 18, 32);
    color: rgba(255, 255, 255, 0);
    white-space: nowrap;
    border-radius: 10px;
    border: none;
    outline: 1.5em solid #5075c9;
    position: fixed;
    transition: width 1s, color 1s, left 0.5s ease-out;
    padding: 1em 2em;
    animation-name: menuRight;
    animation-duration: 2s;
    z-index: 1;
}

#menuRight.movable{
    left: 26%;
    color: rgba(255, 255, 255, 0.7);
}

#menuRight.moved{
    left: 100%;
    color: rgba(255, 255, 255, 0);
}

/*
#menuRight:hover{
    height: 40em;
    width: 20em;
    left: 100%;
    top: 24.5%;
    border-radius: 5% 0 0 5%;
    transform: translate(-100%, -20%);
    background-color: rgb(21, 18, 32);
    border: none;
    position: fixed;
    color: rgba(255, 255, 255, 0.7);
    text-align: start;
    opacity: 1;
    position: fixed;
    padding-left: 2em;
    padding-top: 1em;
}
*/

@keyframes menuRight{
    from{transform: translate(200%, -20%)}
    to{transform: translate(-5%, -20%)}
}

#iconRight{
    position: absolute;
    background-image: url(BobbyLogo.webp);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 7em;
    width: 7em;
    border: none;
    left: 5%;
    top: 10%;
    opacity: 0.7;
}

#nameRight{
    position: absolute;
    top: 15%;
    left: 43%;
    font-size: 1.1em;
    letter-spacing: normal;
    font-family: 'Courier New', Courier, monospace;
    color: #89fff7;
    text-shadow: 0 0 20px #8afff7;
    opacity: 0.7;
}

#menuRight > #pfp2{
    position: relative;
    height: 9em;
    width: 22em;
    border: none;
    background-color: rgba(48,38,88,0.5);
    border-radius: 5%;
    opacity: 0;
    transition: opacity 1s;
}

#menuRight.movable #pfp2 {
    opacity: 1;
}

#menuRight.moved #pfp2 {
    opacity: 0;
}

.descBox{
    position: absolute;
    height: 9em;
    width: 17em;
    top: 11%;
    left: 60%;
    border-radius: 5%;
    background-color: rgba(48,38,88,0.5);
    opacity: 0;
    transition: opacity 1s;
    text-align: center;
    padding: 1em;
    overflow: hidden;
    text-wrap: wrap;
}

#menuRight.movable .descBox {
    opacity: 1;
}

#menuRight.moved .descBox {
    opacity: 0;
}

.menuDesc{
    font-size: 1.1em;
    color: white;
    font-family: 'Modern DOS';
}


#but1{
    height: 1em;
    width: 1em;
    border: none;
    background-color: #48db4a;
    border-radius: 50%;
    position: relative;
    margin-bottom: 2em;
    z-index: 1;
}

#but2{
    height: 1em;
    width: 1em;
    border: none;
    background-color: #edc526;
    border-radius: 50%;
    position: absolute;
    margin-left: 2em;
    z-index: 1;
}

#but3{
    height: 1em;
    outline: solid;
    outline-width: 5px;
    outline-color: #ff4268;
    outline-offset: 0.5em;
    box-shadow: #ff4268 0 0 20px;
    width: 1em;
    border: none;
    background-color: #f62727;
    border-radius: 50%;
    position: absolute;
    margin-left: 4em;
    z-index: 1;
    transition: background-color 0.1s, height 0.1s, width 0.1s;
    animation: glow 1s infinite forwards;
}

@keyframes glow{
    from{outline-color: #ff4268; outline-offset: 0; outline-width: 0;}
    to{outline-color: transparent; outline-offset: 0.5em; outline-width: 5px;}
}

#but3:hover{
    height: 1.1em;
    width: 1.1em;
    border: none;
    background-color: #ff4268;
    border-radius: 50%;
    position: absolute;
    margin-left: 4em;
}

#but3:active{
    height: 0.95em;
    width: 0.95em;
    background-color: #ce2222;
}

#status{
    color: white;
    letter-spacing: normal;
    text-shadow: 0 0 20px white;
    position: absolute;
    letter-spacing: normal;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    top: 30%;
    left: 43%;
    opacity: 0.7;
}

#yourName{
        display:inline-block;
        position: absolute;
        padding: 5px 30px;
        left: 50%;
        top: 0;
        transform: translate(-50%);
        font-size: 1.1em;
        color: #0e0e33e6;
        font-weight: bold;
        background:
         linear-gradient(#5075c9,#5075c9) center/calc(100% - 40px) 100% no-repeat,
         linear-gradient(to bottom left,#5075c9 49%,transparent 50.5%) left/20px 100% no-repeat,
         linear-gradient(to bottom right,#5075c9 49%,transparent 50.5%) right/20px 100% no-repeat;
}

#desc{
    font-size: 1.1em;
    position: absolute;
    top: 40%;
    line-height: 3em;
    left: 1%;
}

#cam{
    background-color: #2a2541;
    position: absolute;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    transform: translate(1800%, -220%);
}

#cam2{
    background-color: transparent;
    position: absolute;
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    left: 7%;
    transform: translate(2075%, -263%);
    border: solid;
    border-color: #453d69;
}

#cam3{
    background-color: #685f92;
    position: absolute;
    height: 0.3em;
    width: 0.3em;
    left: 15%;
    border-radius: 50%;
    transform: translate(4285%, -615%);
    border: none;
}

#cam4{
    background-color: #2a2541;
    position: absolute;
    transform: translate(285%, -220%);
    height: 1em;
    width: 7em;
    border-radius: 20%;
}

#tabBut{
    height: 1.2em;
    width: 5em;
    position: absolute;
    border: solid;
    background-color: transparent;
    border-color:#254a8f;
    border-radius: 20%;
    top: 100%;
    transform: translate(400%, 13%)
}

#fakeBut{
    height: 5em;
    width: 1em;
    position: absolute;
    transform: translate(-400%, 100%);
    border-radius: 10%;
    background-color: #5075c9;
    border: none;
}

#fakeBut2{
    height: 3em;
    width: 1em;
    box-shadow: #71abe9 0 0 20px;
    position: absolute;
    transform: translate(-400%, 400%);
    border-radius: 10%;
    background-color: #639ddb;
    border: none;
    transition: width 0.1s, background-color 0.1s;
    z-index: -1;
}

#fakeBut2:hover{
    height: 3em;
    width: 1.04em;
    position: absolute;
    transform: translate(-400%, 400%);
    border-radius: 10%;
    background-color: #639ddb;
    border: none;
    z-index: -1;
}

#fakeBut2:active{
    background-color: #4452b8;
    width: 0.97em;
    z-index: -1;
}

#fakeShad{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: -0.2%;
    display: block;
    animation-name: fakeShad;
    animation-iteration-count: infinite;
    animation-duration: 0.66s;
    animation-direction: alternate;
    opacity: 0.66;
}

@keyframes fakeShad{
    from{opacity: 0.33};
    to{opacity: 0.66};
}

#username{
    position: absolute;
    content: attr(playerName);
    left: 28.5%;
    margin-top: 3em;
    border: none;
    border-radius: 10%;
    padding-left: 1em;
    padding-right: 1em;
    height: 2em;
    width: 1em;
    background-color: #c5dfe4;
    font-family: 'Modern DOS';
    color: #332e57;
    caret-color: #332e57;
    transition: width 1s;
}

#username.shake{
    animation-name: shake;
    animation-duration: 1s;
}

@keyframes shake{
    0%{margin-left: 0; margin-right: 0;}
    25%{margin-left: 0.5em; margin-right: 0em;}
    50%{margin-left: 0; margin-right: 0.3em;}
    75%{margin-left: 0.3em; margin-right: 0;}
    100%{margin-left: 0; margin-right: 0;}
}

#username.animate{
    width: 13em;
}

#username:focus{
    outline: none;
}

#nameHere{
    color: #befffe;
    position: absolute;
    left: 20%;
    margin-top: 1em;
    letter-spacing: 0.2em;
    font-family: 'Modern DOS';
    opacity: 0;
    transition: opacity 1s, left 1s;
}

#nameHere.animate{
    opacity: 1;
    left: 25%;
}

.fade-out{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

#thanks{
    color: rgb(255, 255, 131);
    text-shadow: 0 0 20px;
    letter-spacing: 0.2em;
    font-family: 'Modern DOS';
    left: 33%;
    top: 100%;
    position: absolute;
    font-size: 2em;
    z-index: 1;
}

.notfade-in3{
    animation: notfadein 2s;
    animation-fill-mode: forwards;
}

@keyframes notfadein {
    0% {
      top: 100%;
    }
    100% {
      top: 90%;
    }
}

#arts{
    position: absolute;
    background-color: #0a121e;
    border: solid;
    border-color: #48c0db;
    text-align: center;
    color: #48c0db;
    left: 60%;
    top: 58%;
    height: 2em;
    width: 13em;
    font-size: 1.3em;
    letter-spacing: 0.3em;
    z-index: 2;
    border-radius: 10px;
}

#drawings{
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    height: 35em;
    width: 35em;
    left: 14%;
    top: 6%;
    background-color: #0a121e;
    border: solid;
    border-color: #48c0db;
    z-index: 3;
    opacity: 0;
    box-sizing: border-box;
    pointer-events: none;
    padding-bottom: 2em;
}

.showUp{
    animation-name: showUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes showUp{
    0%{opacity: 0; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    10%{opacity: 0.5; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    15%{opacity: 0; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    20%{opacity: 0.7; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    25%{opacity: 0; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    100%{opacity: 1; pointer-events: auto; background-color: #0a121e; border-color: #48c0db;}
}

.nin{
    position: relative;
    height: 15em;
    width: 15em;
    border: solid;
    border-color: #48c0db;
    left: 2%;
    top: 3%;
}

.nin3{
    position: relative;
    height: 15em;
    width: 15em;
    border: solid;
    border-color: #48c0db;
    left: 9%;
    top: 3%;
}
/*might aswell kms*/

#drawingsWrap ::-webkit-scrollbar {
    width: 1em;
    height: 4em;
}

#drawingsWrap ::-webkit-scrollbar-thumb{
    background-color: #273a5c;
    border-radius: 10%;
}

#drawingsWrap ::-webkit-scrollbar-track{
    background-color: transparent;
}

#drawingsWrap ::-webkit-scrollbar-button{
    background-color: #48c0db;
}

#drawingsWrap ::-webkit-scrollbar-corner{
    background-color: #273a5c;
}

#X{
    background-color: #48c0db;
    border: none;
    position: absolute;
    z-index: 1;
    height: 2em;
    width: 2em;
    border-radius: 0 0 10% 0;
    transition: height 0.2s, width 0.2s;
}

#X:hover{
    height: 2.3em;
    width: 2.3em;
}

#close{
    position: absolute;
    color: white;
    pointer-events: none;
    border: none;
    font-weight: bold;
    left: 28%;
    top: 7%;
    font-size: 1.2em;
}

.showDown{
    animation-name: showDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

@keyframes showDown{
    0%{opacity: 0; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    10%{opacity: 0.5; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    15%{opacity: 0; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    20%{opacity: 0.7; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    25%{opacity: 0; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    100%{opacity: 1; pointer-events: auto; background-color: #0a121e; border-color: #48c0db;}
}

#animos{
    position: absolute;
    background-color: #0a121e;
    border: solid;
    border-color: #48c0db;
    text-align: center;
    color: #48c0db;
    left: 60%;
    top: 68%;
    height: 2em;
    width: 13em;
    font-size: 1.3em;
    letter-spacing: 0.3em;
    z-index: 2;
    border-radius: 10px;
}

#anims{
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    height: 35em;
    width: 35em;
    left: 14%;
    top: 6%;
    background-color: #0a121e;
    border: solid;
    border-color: #48c0db;
    z-index: 3;
    opacity: 0;
    box-sizing: border-box;
    pointer-events: none;
    padding-bottom: 2em;
}

#Xx{
    background-color: #48c0db;
    border: none;
    position: absolute;
    z-index: 1;
    height: 2em;
    width: 2em;
    border-radius: 0 0 10% 0;
    transition: height 0.2s, width 0.2s;
}

#Xx:hover{
    height: 2.3em;
    width: 2.3em;
}

#closeX{
    position: absolute;
    color: white;
    pointer-events: none;
    border: none;
    font-weight: bold;
    left: 28%;
    top: 7%;
    font-size: 1.2em;
}

.nins{
    position: relative;
    height: 15em;
    width: auto;
    border: solid;
    border-color: #48c0db;
    left: 11%;
    top: 3%;
}

#animWrap ::-webkit-scrollbar {
    width: 1em;
    height: 4em;
}

#animWrap ::-webkit-scrollbar-thumb{
    background-color: #273a5c;
    border-radius: 10%;
}

#animWrap ::-webkit-scrollbar-track{
    background-color: transparent;
}

#animWrap ::-webkit-scrollbar-button{
    background-color: #48c0db;
}

#animWrap ::-webkit-scrollbar-corner{
    background-color: #273a5c;
}

#Note{
    color: white;
    font-family:'Modern DOS';
    animation: note 2s;
    margin-left: 1%;
}

@keyframes note{
    from {opacity: 0;}
    to {opacity: 1;}
}

#pixelo{
    position: absolute;
    background-color: #0a121e;
    border: solid;
    border-color: #48c0db;
    text-align: center;
    color: #48c0db;
    left: 60%;
    top: 78%;
    height: 2em;
    width: 13em;
    font-size: 1.3em;
    letter-spacing: 0.3em;
    z-index: 2;
    border-radius: 10px;
}

#pixels{
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    background-image: url(TextureB.webp);
    background-repeat: repeat;
    background-size: calc(6em);
    height: 35em;
    width: 35em;
    left: 14%;
    top: 6%;
    background-color: #0a121e;
    border: solid;
    border-color: #48c0db;
    z-index: 3;
    opacity: 0;
    box-sizing: border-box;
    pointer-events: none;
    padding-bottom: 2em;
}

.nins1{
    position: relative;
    height: 15em;
    width: 15em;
    border: solid;
    border-color: #48c0db;
    left: 2%;
    top: 3%;
}

.nins2{
    position: relative;
    height: 15em;
    width: 15em;
    border: solid;
    border-color: #48c0db;
    left: 9%;
    top: 3%;
}

#Xxx{
    background-color: #48c0db;
    border: none;
    position: absolute;
    z-index: 1;
    height: 2em;
    width: 2em;
    border-radius: 0;
    transition: height 0.2s, width 0.2s;
}

#Xxx:hover{
    height: 2.3em;
    width: 2.3em;
}

#closeXx{
    position: absolute;
    color: white;
    pointer-events: none;
    border: none;
    font-family: 'Modern DOS';
    left: 28%;
    font-size: 1.5em;
}

#pixelWrap ::-webkit-scrollbar {
    width: 1em;
    height: 4em;
}

#pixelWrap ::-webkit-scrollbar-thumb{
    background-color: #273a5c;
    border-radius: 0;
}

#pixelWrap ::-webkit-scrollbar-track{
    background-color: transparent;
}

#pixelWrap ::-webkit-scrollbar-button{
    background-color: #48c0db;
}

#pixelWrap ::-webkit-scrollbar-corner{
    background-color: #273a5c;
}

#musico{
    position: absolute;
    background-color: #0a121e;
    border: solid;
    border-color: #48c0db;
    text-align: center;
    color: #48c0db;
    left: 60%;
    top: 88%;
    height: 2em;
    width: 13em;
    font-size: 1.3em;
    letter-spacing: 0.3em;
    border-radius: 10px;
    z-index: 2;
}

#musics{
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    height: 35em;
    width: 35em;
    left: 14%;
    top: 6%;
    background-color: #0a121e;
    border: solid;
    border-color: #48c0db;
    z-index: 3;
    opacity: 0;
    box-sizing: border-box;
    pointer-events: none;
    padding-bottom: 2em;
}

#Xxxv{
    background-color: #48c0db;
    border: none;
    position: absolute;
    z-index: 1;
    height: 2em;
    width: 2em;
    border-radius: 0 0 10% 0;
    transition: height 0.2s, width 0.2s;
}

#Xxxv:hover{
    height: 2.3em;
    width: 2.3em;
}

#closevXx{
    position: absolute;
    color: white;
    pointer-events: none;
    border: none;
    font-weight: bold;
    left: 28%;
    top: 7%;
    font-size: 1.2em;
}

.unnins{
    position: relative;
    left: 22%;
    top: 3%;
    opacity: 0;
    pointer-events: none;
}

#warning{
    position: relative;
    top: 3%;
    text-align: center;
    color: #ce2222;
    font-size: 1.5em;
    text-shadow: 0 0 20px red;
}

/*audio player*/

.audio-bar{
    border: solid;
    top: 30%;
    left: 20%;
    height: 5em;
    width: 20em;
    border-color: #48c0db;
    box-shadow: 0 0 14px #89fff761;
    border-radius: 10%;
    background-color: #453d69;
    background-image: linear-gradient(to right, #453d69, transparent);
    background-size: 30em 100%;
    overflow: hidden;
    position: absolute;
    transition: left 0.3s, width 0.3s, background-color 0.3s;
}

.audio-bar:hover{
    left: 13% !important;
    width: 25em !important;
    background-color: transparent !important;
}

.audioBobby{
    position: absolute;
    opacity: 0;
    left: 50%;
    transition: opacity 0.3s, left 0.3s;
    z-index: -1;
}

.audio-bar:hover .audioBobby{
    opacity: 1 !important;
    left: 0% !important;
}

.audio-controls{
    display: flex;
    flex-direction: column;
}

.play-pause-btn{
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    margin-top: 2.7em;
    margin-left: 1em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}

.play-btn{
    height: 1.5em;
    width: 1.5em;
    left: -50%;
    top: -50%;
    transform: translate(-23%, -13%);
    opacity: 1;
    transition: opacity 0.2s;
    z-index: 1;
}

.pause-btn{
    height: 1.5em;
    width: 1.5em;
    left: -50%;
    top: -50%;
    transform: translate(-130%, -13%);
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1;
}

.stop-btn{
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    margin-top: 2.7em;
    margin-left: 3.2em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: margin-left 0.3s;
}

.audio-bar:hover > .stop-btn{
    margin-left: 3.5em;
}

.stop{
    height: 1.5em;
    width: 1.5em;
    left: -50%;
    top: -50%;
    transform: translate(-30%, -13%);
    z-index: 1;
}

.seek-bar{
    height: 0.5em;
    width: 90%;
    border-radius: 5%;
    border: none;
    margin-left: 1em;
    top: 24.5%;
    position: absolute;
    z-index: 1;
    transition: width 0.3s;
}

.audio-bar:hover .seek-bar{
    width: 40% !important;
}

[type="range"],
[type="range"]::-webkit-slider-thumb,
[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
}

[type="range"]::-webkit-slider-thumb {
  background: #ff4268;
  width: 17px;
  aspect-ratio:1;
  cursor:pointer;
  border-radius: 50%;
  border:1px solid hsl(0 0% 0%);
}

[type="range"]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

[type="range"] {
  background: #0a121e;
  height: 10px;
  width: 90%;
  border-radius: 9rem;
  margin-block: 0.5em;
  outline:none;
}

.volume-controls{
    display: flex;
    align-items: center;
}

.volumed{
    position: absolute;
    height: 2em;
    width: 2em;
    opacity: 1;
    transition: opacity 0.2s;
    z-index: 1;
}

.muted{
    position: absolute;
    height: 1.7em;
    width: 1.7em;
    opacity: 0;
    transition: opacity 0.2s;
    transform: translate(-7%, 10%);
    z-index: 1;
}

.mute-button{
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    background-color: transparent;
    border: none;
    margin-left: 4.6em;
    margin-top: 4.8em;
    z-index: 1;
}

.volumed:hover, .stop:hover, .play-pause-btn:hover, .mute-button:hover{
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(200deg) saturate(500%);
}

.audio-player{
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.fadeOuts{
    animation-name: fadeOuts;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOuts{
    from{opacity: 1;}
    to{opacity: 0;}
}

.fadeIns{
    animation-name: fadeIns;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIns{
    from{opacity: 0;}
    to{opacity: 1;}
}

.songTitle{
    color: rgb(255, 66, 104);
    position: fixed;
    left: 25%;
    text-shadow: 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e, 0 0 2px #0a121e;
    z-index: 1;
    pointer-events: none;
}

.gradient{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgb(255, 66, 104), transparent);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
}

.dance{
    animation-name: dance;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes dance{
    0%{opacity: 1;}
    100% {opacity: 0;}
}

.disc{
    position: absolute;
    z-index: -1;
    height: 10em;
    width: 10em;
    left: 34%;
    top: 20%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
}

.discSpin{
    animation: disc 5s linear infinite forwards;
}

@keyframes disc{
    100% {transform: rotate(360deg);}
}

/* UNUSED

#checkerboard {
    z-index: -3;
    position: fixed;
    bottom: -40%;
    right: -100%;
    height: 300%;
    width: 300%;
    transform: rotate(150deg);
    background-color: transparent;
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
    background-image: linear-gradient(45deg, #891e77 25%, transparent 25%, transparent 75%, #891e77 75%, #891e77), linear-gradient(45deg, #891e77 25%, transparent 25%, transparent 75%, #891e77 75%, #891e77);
    animation: move-background 3s linear infinite;
}
  
  @keyframes move-background {
    from {
      background-position: 0 100px, 50px 150px;
    }
}*/

#bg{
    justify-content: center;
    align-items: center;
    background-image: none; /*make sure to add an image here!!*/
    opacity: 0.5;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: -2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    animation: bgIntro 2s;
}

@keyframes bgIntro{
    from {opacity: 0;}
    to {opacity: 0.5;}
}

#song-select{
    background-color: #48c0db;
    border: none;
    color:  #ff4268;
    border-radius: 5px;
    position: fixed;
    margin-left: 22%;
    margin-top: 13%;
    box-shadow: 0 0 20px #89fff761;
    transition: margin-left 0.3s;
    z-index: 2;
}

.audio-bar:hover #song-select{
    margin-left: 29% !important;
}

/*UNUSED

#checkToggle{
    margin-left: 2%;
    box-shadow: #0a121e 0 10px 10px;
    position: fixed;
    top: 90%;
    z-index: 2;
    height: 3.5em;
    width: 7em;
    font-family: 'Digital';
    border: solid;
    outline: solid #48c0db;
    outline-offset: 4px;
    border-color: #ff4268;
    border-radius: 10px;
    letter-spacing: 0.3em;
    color: #ff4268;
    background-color: #89fff7;
}*/

#prico{
    position: absolute;
    background-color: #180a1e;
    border: solid;
    border-color: #bb48db;
    text-align: center;
    color: #bb48db;
    left: 60%;
    top: 48%;
    height: 2em;
    width: 13em;
    font-size: 1.3em;
    letter-spacing: 0.3em;
    z-index: 2;
    border-radius: 10px;
}

#prices{
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    height: 19em;
    width: 35em;
    left: 14%;
    top: 27%;
    background-color: #180a1e;
    border: solid;
    border-color: #bb48db;
    z-index: 3;
    opacity: 0;
    box-sizing: border-box;
    pointer-events: none;
    padding-bottom: 2em;
}

#Xbro{
    background-color: #bb48db;
    border: none;
    position: absolute;
    z-index: 1;
    height: 2em;
    width: 2em;
    border-radius: 0 0 10% 0;
    transition: height 0.2s, width 0.2s;
}

#Xbro:hover{
    height: 2.3em;
    width: 2.3em;
}

#closeBro{
    position: absolute;
    color: white;
    pointer-events: none;
    border: none;
    font-weight: bold;
    left: 28%;
    top: 7%;
    font-size: 1.2em;
}

#priceWrap ::-webkit-scrollbar {
    width: 1em;
    height: 4em;
}

#priceWrap ::-webkit-scrollbar-thumb{
    background-color: #45275c;
    border-radius: 10%;
}

#priceWrap ::-webkit-scrollbar-track{
    background-color: transparent;
}

#priceWrap ::-webkit-scrollbar-button{
    background-color: #bb48db;
}

#priceWrap ::-webkit-scrollbar-corner{
    background-color: #45275c;
}

/*I can't deal with editing animations*/
.showUp2{
    animation-name: showUp2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes showUp2{
    0%{opacity: 0; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    10%{opacity: 0.5; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    15%{opacity: 0; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    20%{opacity: 0.7; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    25%{opacity: 0; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    100%{opacity: 1; pointer-events: auto; background-color: #180a1e; border-color: #bb48db;}
}

.showDown2{
    animation-name: showDown2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

@keyframes showDown2{
    0%{opacity: 0; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    10%{opacity: 0.5; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    15%{opacity: 0; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    20%{opacity: 0.7; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    25%{opacity: 0; pointer-events: none; filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%); border-color: #cadb48;}
    100%{opacity: 1; pointer-events: auto; background-color: #180a1e; border-color: #bb48db;}
}

#pricebro{
    position: absolute;
    top: 3%;
    left: 42%;
    text-align: center;
    color: #ff43dc;
    font-size: 1.5em;
    text-shadow: 0 0 20px red;
}

#pricelist{
    position: absolute;
    text-align: start;
    top: 27%;
    left: 5%;
    font-family: 'Modern DOS';
    font-size: 1em;
    letter-spacing: 0.2em;
}

/*#Page-2{
    width: 7em;
    height: 3.5em;
    position: fixed;
    background-color: #654490;
    border-radius: 10px;
    border-width: 20px;
    margin-left: 2%;
    top: 90%;
    font-family: 'Modern DOS';
    letter-spacing: 0.10em;
    padding-left: 0.5em;
    color: #FF407D;
    border: #372b6f solid;
    box-shadow: #0a121e 0 5px 7px;
}*/

#PageLink{
    height: 2em;
    width: 13em;
    color: #ff7ea7;
    text-decoration: none;
    background-color: #180a1e;
    font-family: 'Modern DOS';
    top: 90%;
    opacity: 0;
    position: fixed;
    padding: 0.2em 0.3em 0.2em 0.3em;
    border-radius: 10px;
    box-shadow: #0a121e 0 5px 7px;
    border: solid #bb48db;
    letter-spacing: 0.1em;
    text-align: center;
    justify-content: center;
    text-shadow: #FF407D 0 0 6px;
    z-index: 2;
    transition: opacity 1s;
}

#menuRight.movable #PageLink {
    opacity: 1;
}

#menuRight.moved #PageLink {
    opacity: 0;
}

#black{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-color: black;
    opacity: 0;
    animation: black 0.3s !important;
}

@keyframes black{
    from{opacity: 1};
    to{opacity: 0};
}

/*mobile suppory*/
@media screen and (max-width: 800px) {
    #menu{
        height: 35em;
        width: 20em;
        top: 25%;
    }

    @keyframes box{
        0% {height: 5em; opacity: 0; background-color: black;}
        10% {height: 5em; opacity: 50%; background-color: white;}
        15% {height: 5em; opacity: 0;}
        25% {height: 5em; opacity: 75%; background-color: #332e57;}
        50% {height: 5em;}
        75% {height: 4em;}
        100% {height: 35em;}
    }

    #pfp{
        height: 10em;
        width: 10em;
    }

    #name{
        font-size: 2em;
    }

    .abil ,.abil2{
        transform: translate(0, -100%);
    }

    #follow, #join, #sub, #yt, #twt, #disc{
        transform: translate(0, -60%);
        height: 2.5em;
        width: auto;
    }

    #sub{
        transform: translate(-80%, -60%);
    }

    #yt:hover{
        height: 3em;
        width: auto;
        filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%);
    }

    #sub:hover{
        height: 3em;
        width: auto;
    }

    #disc:hover{
        height: 3.1em;
    }
    
    #follow{
        transform: translate(-38%, -60%);
    }

    #twt:hover{
        height: 3.5em;
        width: auto;
        filter: grayscale(100%) brightness(15%) sepia(0%) hue-rotate(0deg) saturate(0%);
    }

    #join:hover::after, #follow:hover::after, #sub:hover::after{
        opacity: 0;
        transform: translateX(-50%) translateY(-10%);
        pointer-events: none;
        cursor: default;
    }
    
    #menuRight{
        opacity: 0;
    }

    html{
        overflow: hidden;
    }

    #Note{
        text-align: center;
    }

    #nameHere{
        top: 82%;
        position: absolute;
    }

    #nameHere.animate{
        opacity: 1;
        left: 12%;
    }

    #username{
        top: 82%;
        left: 17%;
    }

    /* UNUSED

    #checkToggle{
        height: 2em;
        width: 10em;
        top: 94%;
        outline: none;
        background-color: #89caff;
        border: 4px solid #4970b0;
        font-family: 'Modern DOS';
        box-shadow: #0a121e 0 5px 7px;
        left: 3%;
    }*/

    #PageLink{
        position: absolute;
        opacity: 1;
        top: 94%;
        height: 2em;
        width: 10em;
        outline: none;
        left: 51%;
        font-family: 'Modern DOS';
        color: #FF407D;
        border: 4px #372b6f solid;
        box-shadow: #0a121e 0 5px 7px;
        text-align: center;
        justify-content: center;
    }

    #thanks{
        left: 25%;
    }

    @keyframes notfadein {
        0% {
          top: 100%;
        }
        100% {
          top: 87%;
        }
    }

    #mobMenu{
        height: 7em;
        width: 1em;
        background-color: rgba(0, 0, 0, 0.5);
        border: solid 4px;
        border-radius: 10%;
        top: 20%;
        left: 91.5%;
        position: absolute;
        opacity: 1;
        animation: mobmenu 2s;
    }

    @keyframes mobmenu{
        0%{opacity: 0; width: 0;}
        85%{opacity: 0; width: 0;}
        100%{opacity: 1; width: 1em;}
    }
}