body{
    background-color:#2a2541;
}

#welcome{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:#ff0051;
}

#name{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: #00ffd9;
    text-shadow: 0 0 20px #89fff7;
    padding-top: 1em;
}

.slide-in-welcome{
    position: relative;
    top: -100em;
    transition: top 1s;
}

.slide-in-welcome.animate{
    top: 0;
}

.fade-in{
    opacity: 0;
    transition: opacity 1s;
}

.fade-in.animate{
    opacity: 1;
}

#pfp{
    height: 15em;
    width: 15em;
    border-radius: 50em;
    border: none;
    box-shadow: 0 0 40px black;
    border-width: 0.5em;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.fade-in2{
    opacity: 0;
    transition: opacity 1s;
}

.fade-in2.animate{
    opacity: 1;
}

.abil{
    text-align: center;
    color: #ffb300;
    font-family:'Courier New', Courier, monospace;
    opacity: 0;
    transition: opacity 1s;
}

.abil.animate{
    opacity: 1;
}

.abil2{
    text-align: center;
    color: #ffb300;
    font-family:'Courier New', Courier, monospace;
    opacity: 0;
    transition: opacity 1s;
}

/*peak coding*/

.abil2.animate{
    opacity: 1;
}

#sub{
    border: none;
    border-radius: 50em;
    position: absolute;
    left: 30%;
    transform: translate(-50%);
    background-color: transparent;
    height: 3em;
    width: auto;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    transition: height 1s, padding-bottom 1s;
    cursor: pointer;
    text-decoration: none;
}

#sub:hover{
    height: 3.5em;
    width: auto;
}

#sub::after{
    content: attr(data-tooltip);
    position: absolute;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

#sub:hover::after{
    opacity: 1;
    transform: translateX(-50%);
}


#yt{
    height: 3em;
    width: auto;
    transition: filter 1s, height 1s;
}

#yt:hover{
    height: 3.5em;
    width: auto;
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%);
}

#follow{
    border: none;
    border-radius: 50em;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
    height: 3em;
    width: auto;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    transition: height 1s;
    cursor: pointer;
    text-decoration: none;
}

#follow::after{
    content: attr(data-tooltip2);
    position: absolute;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

#follow:hover::after{
    opacity: 1;
    transform: translateX(-50%) translateY(40%)
}

#twt{
    height: 3em;
    width: auto;
    transition: filter 1s, height 1s;
}

#twt:hover{
    height: 3.5em;
    width: auto;
    filter: grayscale(100%) brightness(15%) sepia(0%) hue-rotate(0deg) saturate(0%);
}

#join{
    border: none;
    border-radius: 50em;
    position: absolute;
    left: 70%;
    transform: translate(-50%);
    background-color: transparent;
    height: 3em;
    width: auto;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    transition: height 1s;
    cursor: pointer;
    text-decoration: none;
}

#disc{
    height: 3em;
    width: auto;
    transition: filter 1s, height 1s;
}

#disc:hover{
    height: 3.5em;
    width: auto;
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(180deg) saturate(500%);
}

#join::after{
    content: attr(data-tooltip3);
    position: absolute;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

#join:hover::after{
    opacity: 1;
    transform: translateX(-50%) translateY(40%)
}

#menu{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    border: none;
    height: 46em;
    width: 30em;
    align-items: center;
    left: 50%;
    top: 16%;
    padding-top: 1em;
    transform: translate(-50%, -15%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    animation-name: box;
    animation-duration: 2s;
}

@keyframes box{
    0% {height: 5em; opacity: 0; background-color: black;}
    10% {height: 5em; opacity: 50%; background-color: white;}
    15% {height: 5em; opacity: 0;}
    25% {height: 5em; opacity: 75%; background-color: #332e57;}
    50% {height: 5em;}
    75% {height: 4em;}
    100% {height: 46em;}
}

#menuRight{
    height: 40em;
    width: 50em;
    font-family: 'Digital', sans-serif;
    letter-spacing: 0.3em;
    left: 100%;
    top: 24.5%;
    transform: translate(-5%, -20%);
    background-color: rgb(21, 18, 32);
    color: rgba(255, 255, 255, 0);
    white-space: nowrap;
    border-radius: 5%;
    border: none;
    outline: 1.5em solid rgb(41, 178, 215);
    position: fixed;
    transition: width 1s, color 1s, left 0.5s ease-out;
    text-overflow: ellipsis;
    padding-left: 2em;
    padding-top: 1em;
    animation-name: menuRight;
    animation-duration: 2s;
    z-index: 1;
}

#menuRight.movable{
    left: 25%;
    color: rgba(255, 255, 255, 0.7);
}

#menuRight.moved{
    left: 100%;
    color: rgba(255, 255, 255, 0);
}

/*
#menuRight:hover{
    height: 40em;
    width: 20em;
    left: 100%;
    top: 24.5%;
    border-radius: 5% 0 0 5%;
    transform: translate(-100%, -20%);
    background-color: rgb(21, 18, 32);
    border: none;
    position: fixed;
    color: rgba(255, 255, 255, 0.7);
    text-align: start;
    opacity: 1;
    position: fixed;
    padding-left: 2em;
    padding-top: 1em;
}
*/

@keyframes menuRight{
    from{transform: translate(200%, -20%)}
    to{transform: translate(-5%, -20%)}
}

#iconRight{
    position: fixed;
    height: 7em;
    width: auto;
    border: none;
    border-radius: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    bottom:72%;
    opacity: 0.7;
}

#nameRight{
    position: absolute;
    padding-top: 1em;
    padding-left: 7em;
    letter-spacing: normal;
    font-family:'Courier New', Courier, monospace;
    color: #89fff7;
    text-shadow: 0 0 20px hsl(176, 100%, 77%);
    opacity: 0.7;
}

#menuRight > #pfp2{
    position: relative;
    height: 7em;
    width: 20em;
    border: none;
    background-color: rgba(48,38,88,0.5);
    border-radius: 5%;
    opacity: 0;
    transition: opacity 1s;
}

#menuRight.movable #pfp2 {
    opacity: 1;
}

#menuRight.moved #pfp2 {
    opacity: 0;
}

#but1{
    height: 1em;
    width: 1em;
    border: none;
    background-color: #48db4a;
    border-radius: 50%;
    position: relative;
    margin-bottom: 2em;
}

#but2{
    height: 1em;
    width: 1em;
    border: none;
    background-color: #edc526;
    border-radius: 50%;
    position: absolute;
    margin-left: 2em;
}

#but3{
    height: 1em;
    width: 1em;
    border: none;
    background-color: #f62727;
    border-radius: 50%;
    position: absolute;
    margin-left: 4em;
    z-index: 1;
    transition: background-color 0.1s, height 0.1s, width 0.1s;
}

#but3:hover{
    height: 1.15em;
    width: 1.15em;
    border: none;
    background-color: #ff4268;
    border-radius: 50%;
    position: absolute;
    margin-left: 4em;
}

#but3:active{
    height: 0.9em;
    width: 0.9em;
    background-color: #ce2222;
}

#status{
    color: white;
    letter-spacing: normal;
    text-shadow: 0 0 20px white;
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    padding-left: 7em;
    padding-top: 2.5em;
    opacity: 0.7;
}

#cam{
    background-color: #2a2541;
    position: absolute;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    transform: translate(1800%, -220%);
}

#cam2{
    background-color: transparent;
    position: absolute;
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    left: 7%;
    transform: translate(2075%, -263%);
    border: solid;
    border-color: #453d69;
}

#cam3{
    background-color: #685f92;
    position: absolute;
    height: 0.3em;
    width: 0.3em;
    left: 15%;
    border-radius: 50%;
    transform: translate(4285%, -615%);
    border: none;
}

#cam4{
    background-color: #2a2541;
    position: absolute;
    transform: translate(285%, -220%);
    height: 1em;
    width: 7em;
    border-radius: 20%;
}

#tabBut{
    height: 1.2em;
    width: 5em;
    position: absolute;
    border: solid;
    background-color: transparent;
    border-color:rgb(39, 110, 176);
    border-radius: 20%;
    top: 100%;
    transform: translate(400%, 13%)
}

#fakeBut{
    height: 5em;
    width: 1em;
    position: absolute;
    transform: translate(-400%, 100%);
    border-radius: 10%;
    background-color: rgb(41, 178, 215);
    border: none;
}

#fakeBut2{
    height: 3em;
    width: 1em;
    position: absolute;
    transform: translate(-400%, 400%);
    border-radius: 10%;
    background-color: rgb(55, 197, 229);
    border: none;
    transition: width 0.1s, background-color 0.1s;
    z-index: -1;
}

#fakeBut2:hover{
    height: 3em;
    width: 1.04em;
    position: absolute;
    transform: translate(-400%, 400%);
    border-radius: 10%;
    background-color: rgb(55, 197, 229);
    border: none;
    z-index: -1;
}


#fakeBut2:active{
    background-color: rgb(30, 120, 194);
    width: 0.95em;
    z-index: -1;
}

#fakeShad{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: -0.2%;
    display: block;
    animation-name: fakeShad;
    animation-iteration-count: infinite;
    animation-duration: 0.66s;
    animation-direction: alternate;
    opacity: 0.66;
}

@keyframes fakeShad{
    from{opacity: 0.33};
    to{opacity: 0.66};
}

#username{
    position: absolute;
    content: attr(playerName);
    left: 28.5%;
    margin-top: 3em;
    border: none;
    border-radius: 10%;
    padding-left: 1em;
    padding-right: 1em;
    height: 2em;
    width: 1em;
    background-color: #c5dfe4;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #332e57;
    transition: width 1s;
}

#username.animate{
    width: 13em;
}

#nameHere{
    color: #befffe;
    position: absolute;
    left: 20%;
    margin-top: 1em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    opacity: 0;
    transition: opacity 1s, left 1s;
}

#nameHere.animate{
    opacity: 1;
    left: 25%;
}

.fade-out{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

#thanks{
    color: rgb(255, 255, 131);
    text-shadow: 0 0 20px;
    font-family: 'Courier New', Courier, monospace;
    left: 37%;
    top: 100%;
    position: absolute;
    font-size: 2em;
    z-index: 1;
}

.notfade-in3{
    animation: notfadein 2s;
    animation-fill-mode: forwards;
}

@keyframes notfadein {
    0% {
      top: 100%;
    }
    100% {
      top: 90%;
    }
}