body{
    background-image: linear-gradient(to top, #1e1e1e, #2e2e2e);
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

.navigator{
    background-color: #121212;
    height: 5em;
}

.navlist{
    list-style-type: none;
    padding-left: 27vw;
    padding-top: 3vh;
}

.navlist li{
    display: inline;
    margin-right: 10em;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.navline{
    background-color: #393939;
    width: 10em;
    height: 0.3em;
    position: absolute;
    left: 24%;
    top: 8%;
    transition: left 0.3s;
}

.container1{
    position: absolute;
    top: 55.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100vh - 7em);
    width: 80em;
    background-color: #00000063;
    border-radius: 5em;
    border: solid #00000077 7px;
    transition: left 0.3s;
}

.pfp{
    z-index: 1;
    position: absolute;
    height: 20em;
    width: auto;
    left: 5%;
    top: 25%;
    border-radius: 50%;
    border: white solid 5px;
    animation: pfpslide 3s forwards;
    box-shadow: 0 0 40px #000000;
}

@keyframes pfpslide{
    0%{opacity: 0; left: 35%; height: 25em;}
    20%{opacity: 1;}
    50%{left: 35%; height: 25em;}
    75%{height: 20em; left: 35%;}
    100%{left: 5%;}
}

.name{
    position: absolute;
    font-size: 4em;
    font-weight: bold;
    color: white;
    left: 40%;
    top: 20%;
    animation: nameenter 3s forwards;
    text-shadow: 0 5px 0 #121212;
    text-shadow: 0 0 40px #ffffff3f;
}

@keyframes nameenter{
    0%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 1;}
}

.desc{
    position: absolute;
    color: white;
    text-shadow: 0 5px 0 #121212;
    font-weight: bold;
    font-size: 2em;
    left: 35%;
    top: 35%;
    animation: nameenter 3.5s;
}

.design1{
    background-color: #aeaeae;
    transform: rotate(35deg);
    height: 100vh;
    width: 3em;
    position: absolute;
    left: 90%;
    top: 50%;
    animation: appear1 1.5s forwards;
    z-index: 1;
}

@keyframes appear1{
    0%{height: 0; top: 100%;}
    50%{height: 0; top: 100%;}
    100%{height: 100vh;}
}

.design2{
    background-color: #aeaeae;
    transform: rotate(35deg);
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 90%;
    top: 100%;
    animation: appear2 1.5s forwards;
    z-index: 1;
}

@keyframes appear2{
    0%{height: 0; top: 200%;}
    50%{height: 0; top: 200%;}
    100%{height: 100vh;}
}

.design3{
    background-color: #aeaeae;
    transform: rotate(-35deg);
    height: 100vh;
    width: 3em;
    position: absolute;
    left: 7%;
    top: 50%;
    animation: appear1 1.5s forwards;
    z-index: 1;
}

.design4{
    background-color: #aeaeae;
    transform: rotate(-35deg);
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: -90%;
    top: 100%;
    animation: appear2 1.5s forwards;
    z-index: 1;
}

.youtube{
    position: absolute;
    left: 70%;
    top: 87%;
    background-image: url("youtube.webp");
    background-size: cover;
    height: 3.5em;
    width: 5em;
    transition: filter 0.3s;
    cursor: pointer;
}

.youtube:hover{
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%);;
}

.discord{
    position: absolute;
    left: 80%;
    top: 87%;
    background-image: url("discord.webp");
    background-size: cover;
    height: 3.8em;
    width: 5em;
    transition: filter 0.3s;
    cursor: pointer;
}

.discord:hover{
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(180deg) saturate(500%);;
}

.twitter{
    position: absolute;
    left: 90%;
    top: 87%;
    background-image: url("twitter.webp");
    background-size: cover;
    height: 4.2em;
    width: 5em;
    transition: filter 0.3s;
    cursor: pointer;
}

.twitter:hover{
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(150deg) saturate(500%);
}

.oldweb{
    position: absolute;
    left: 89%;
    top: 2.5%;
    color: #121212;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
    padding: 7px 12px 7px 12px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.oldweb:active{
    color: #121212;
}

.oldweb:hover{
    color: #121212;
    background-color: #c4c4c4;
}

.logo{
    position: absolute;
    height: 5em;
    left: 5%;
    top: 0;
}

.news{
    position: absolute;
    left: 70%;
    top: 5%;
    height: 30em;
    width: 22em;
    background-color: #00000063;
    overflow: hidden;
    border-radius: 20px;
    border-radius: 20px;
    border: solid #00000077 4px;
    animation: news 3s forwards;
}

@keyframes news{
    0%{height: 2.7em; opacity: 0;}
    50%{height: 2.7em; opacity: 1;}
    100%{height: 30em;}
}

.newart{
    height: 20em;
    width: auto;
    margin-left: 3.5%;
    border-radius: 10px;
}

.newtext{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-left: 28%;
}

.artTitle{
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 0.3em 1.3em;
}

.artDesc{
    font-weight: bold;
    color: #cdcdcd;
    margin: 0.3em 4.8em;
}

.container2{
    padding: 1.5em 0 1.5em 4.2em; /*bro I HATE PADDING ORDERS*/
    position: absolute;
    top: 55.5%;
    left: 150%;
    transform: translate(-50%, -50%);
    height: calc(100vh - 7em);
    width: 80em;
    background-color: #00000063;
    border-radius: 5em;
    border: solid #00000077 7px;
    transition: left 0.3s;
}

.drawings{
    display: inline;
    height: 10em;
    width: auto;
    margin: 1.6em 2.1em 0 0;
    border: white solid 3px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000000;
    transition: height 0.3s, width 0.3s;
}

.container3{
    position: absolute;
    top: 55.5%;
    left: 250%;
    transform: translate(-50%, -50%);
    height: calc(100vh - 7em);
    width: 80em;
    background-color: #00000063;
    border-radius: 5em;
    border: solid #00000077 7px;
    transition: left 0.3s;
}

.Info{
    height: 90%;
    margin-left: 20%;
    margin-top: 2.2%;
    width: auto;
    border-radius: 20px;
    border: solid white 5px;
}

.infoText{
    position: absolute;
    color: #c0c0c0;
    font-weight: bold;
    left: 53%;
}