body{
    background-image: linear-gradient(to top, #1e1e1e, #2e2e2e);
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

.navigator{
    background-color: #121212;
    height: 11vh;
}

.navlist{
    list-style-type: none;
    padding-left: 27vw;
    padding-top: 3vh;
}

.navlist li{
    display: inline;
    margin-right: 27vh;
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.navline{
    background-color: #393939;
    width: 22vh;
    height: 0.5vh;
    position: absolute;
    left: 24%;
    top: 8%;
    transition: left 0.3s;
}

.container1{
    position: absolute;
    top: 55.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85vh;
    width: 85vw;
    background-color: #00000063;
    border-radius: 5vw;
    border: solid #00000077 0.5vw;
    transition: left 0.3s;
}

.BuyaCoffee{
    position: absolute;
    top: 85%;
    left: 9%;
    transition: color 0.3s;
    animation: nameenter 4s;
}

.pfp{
    z-index: 1;
    position: absolute;
    height: 43vh;
    width: auto;
    left: 5%;
    top: 25%;
    border-radius: 50%;
    border: white solid 0.5vw;
    animation: pfpslide 3s forwards;
    box-shadow: 0 0 5vw #000000;
}

@keyframes pfpslide{
    0%{opacity: 0; left: 35%; height: 48vh;}
    20%{opacity: 1;}
    50%{left: 35%; height: 48vh;}
    75%{height: 43vh; left: 35%;}
    100%{left: 5%;}
}

.name{
    position: absolute;
    font-size: 8vh;
    font-weight: bold;
    color: white;
    left: 40%;
    top: 20%;
    animation: nameenter 3s forwards;
    text-shadow: 0 0.5vw 0 #121212;
    text-shadow: 0 0 3vw #ffffff3f;
}

@keyframes nameenter{
    0%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 1;}
}

.desc{
    position: absolute;
    color: white;
    text-shadow: 0 0.8vh 0 #121212;
    font-weight: bold;
    font-size: 2vw;
    left: 35%;
    top: 35%;
    animation: nameenter 3.5s;
}

.design1{
    background-color: #aeaeae;
    transform: rotate(35deg);
    height: 100vh;
    width: 6vh;
    position: absolute;
    left: 90%;
    top: 50%;
    animation: appear1 1.5s forwards;
    z-index: 1;
}

@keyframes appear1{
    0%{height: 0; top: 100%;}
    50%{height: 0; top: 100%;}
    100%{height: 100vh;}
}

.design2{
    background-color: #aeaeae;
    transform: rotate(35deg);
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 90%;
    top: 100%;
    animation: appear2 1.5s forwards;
    z-index: 1;
}

@keyframes appear2{
    0%{height: 0; top: 200%;}
    50%{height: 0; top: 200%;}
    100%{height: 100vh;}
}

.design3{
    background-color: #aeaeae;
    transform: rotate(-35deg);
    height: 100vh;
    width: 6vh;
    position: absolute;
    left: 7%;
    top: 50%;
    animation: appear1 1.5s forwards;
    z-index: 1;
}

.design4{
    background-color: #aeaeae;
    transform: rotate(-35deg);
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: -90%;
    top: 100%;
    animation: appear2 1.5s forwards;
    z-index: 1;
}

.youtube{
    position: absolute;
    left: 70%;
    top: 87%;
    background-image: url("youtube.webp");
    background-size: cover;
    height: 8vh;
    width: 5.7vw;
    transition: filter 0.3s;
    cursor: pointer;
    animation: logos 1s forwards;
}

.youtube:hover{
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%);
}

.discord{
    position: absolute;
    left: 81%;
    top: 87%;
    background-image: url("discord.webp");
    background-size: cover;
    height: 8.7vh;
    width: 5.7vw;
    transition: filter 0.3s;
    cursor: pointer;
    animation: logos2 2s forwards;
}

.discord:hover{
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(180deg) saturate(500%);
}

.twitter{
    position: absolute;
    left: 91.5%;
    top: 87%;
    background-image: url("twitter.webp");
    background-size: cover;
    height: 9.5vh;
    width: 5.7vw;
    transition: filter 0.3s;
    cursor: pointer;
    animation: logos3 3s forwards;
}

.twitter:hover{
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(150deg) saturate(500%);
}

@keyframes logos{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes logos2{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


@keyframes logos3{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


.oldweb{
    position: absolute;
    left: 89%;
    top: 2.5%;
    color: #121212;
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: bold;
    background-color: white;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-radius: 20vw;
    transition: background-color 0.3s;
}

.oldweb:active{
    color: #121212;
}

.oldweb:hover{
    color: #121212;
    background-color: #c2c2cd;
}

.logo{
    position: absolute;
    height: 5.5vw;
    left: 5%;
    top: 0;
}

.news{
    position: absolute;
    left: 70%;
    top: 5%;
    height: 66vh;
    width: 24vw;
    background-color: #00000063;
    overflow: hidden;
    border-radius: 2vw;
    border: solid #00000077 0.4vw;
    animation: news 3s forwards;
}

@keyframes news{
    0%{height: 2.7vh; opacity: 0;}
    50%{height: 2.7vh; opacity: 1;}
    100%{height: 66vh;}
}

.newart{
    height: 43vh;
    width: auto;
    margin-left: 4%;
    border-radius: 1vw;
}

.newtext{
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    margin-left: 30%;
}

.artTitle{
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
    margin: 2.5% 28%;
}

.artDesc{
    font-size: 1vw;
    font-weight: bold;
    color: #cdcdcd;
    margin: 2.5% 25%;
}

.container2{
    padding: 5vh 0 1vh 4vh; /*bro I HATE PADDING ORDERS*/
    position: absolute;
    top: 55.5%;
    left: 150%;
    transform: translate(-50%, -50%);
    height: 85vh;
    width: 85vw;
    background-color: #00000063;
    border-radius: 5vw;
    overflow: hidden;
    border: solid #00000077 0.5vw;
    transition: left 0.3s;
}

.drawings{
    position: relative;
    display: inline;
    height: 10em;
    width: auto;
    margin: 1.6em 2.1em 0 0;
    border: white solid 3px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000000;
    transition: all 0.3s;
}

.container2:hover .drawings:not(:hover){
    opacity: 0.5;
    filter: blur(2px);
}

.drawings:hover {
    z-index: 1;
    opacity: 1;
    transform: scale(1.5);
}

.notice{
    position: absolute;
    color: #cdcdcd;
    left: 50%;
    top: 2%;
    font-weight: bold;
    font-size: 2vh;
    transform: translate(-50%, 0);
}

.container3{
    position: absolute;
    top: 55.5%;
    left: 250%;
    transform: translate(-50%, -50%);
    height: 85vh;
    width: 85vw;
    background-color: #00000063;
    border-radius: 5vw;
    border: solid #00000077 0.5vw;
    transition: left 0.3s;
}

/*.Info{
    height: 90%;
    margin-left: 20%;
    margin-top: 2.2%;
    width: auto;
    border-radius: 20px;
    border: solid white 5px;
}*/

.infoText{
    position: absolute;
    color: #c0c0c0;
    font-weight: bold;
    font-size: 5vh;
    text-align: center;
    line-height: 6vh;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}