body{
    background-color:#2a2541;
}

#welcome{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:#ff0051;
}

#name{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: #00ffd9;
    text-shadow: 0 0 20px #89fff7;
}

.slide-in-welcome{
    position: relative;
    top: -100em;
    transition: top 1s;
}

.slide-in-welcome.animate{
    top: 0;
}

.fade-in{
    opacity: 0;
    transition: opacity 1s;
}

.fade-in.animate{
    opacity: 1;
}

#pfp{
    height: 15em;
    width: 15em;
    border-radius: 50em;
    border: solid;
    border-color: crimson;
    border-width: 0.5em;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.fade-in2{
    opacity: 0;
    transition: opacity 1s;
}

.fade-in2.animate{
    opacity: 1;
}

.abil{
    text-align: center;
    color: #ffb300;
    font-family:'Courier New', Courier, monospace;
    opacity: 0;
    transition: opacity 1s;
}

.abil.animate{
    opacity: 1;
}

.abil2{
    text-align: center;
    color: #ffb300;
    font-family:'Courier New', Courier, monospace;
    opacity: 0;
    transition: opacity 1s;
}

/*peak coding*/

.abil2.animate{
    opacity: 1;
}

#sub{
    border: none;
    border-radius: 50em;
    position: absolute;
    left: 30%;
    transform: translate(-50%);
    background-color: transparent;
    height: 3em;
    width: auto;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    transition: height 1s, padding-bottom 1s;
    cursor: pointer;
    text-decoration: none;
}

#sub:hover{
    height: 3.5em;
    width: auto;
}

#sub::after{
    content: attr(data-tooltip);
    position: absolute;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

#sub:hover::after{
    opacity: 1;
    transform: translateX(-50%);
}


#yt{
    height: 3em;
    width: auto;
    transition: filter 1s, height 1s;
}

#yt:hover{
    height: 3.5em;
    width: auto;
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(300deg) saturate(500%);
}

#follow{
    border: none;
    border-radius: 50em;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
    height: 3em;
    width: auto;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    transition: height 1s;
    cursor: pointer;
    text-decoration: none;
}

#follow::after{
    content: attr(data-tooltip2);
    position: absolute;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

#follow:hover::after{
    opacity: 1;
    transform: translateX(-50%) translateY(40%)
}

#twt{
    height: 3em;
    width: auto;
    transition: filter 1s, height 1s;
}

#twt:hover{
    height: 3.5em;
    width: auto;
    filter: grayscale(100%) brightness(15%) sepia(0%) hue-rotate(0deg) saturate(0%);
}

#join{
    border: none;
    border-radius: 50em;
    position: absolute;
    left: 70%;
    transform: translate(-50%);
    background-color: transparent;
    height: 3em;
    width: auto;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    transition: height 1s;
    cursor: pointer;
    text-decoration: none;
}

#disc{
    height: 3em;
    width: auto;
    transition: filter 1s, height 1s;
}

#disc:hover{
    height: 3.5em;
    width: auto;
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(180deg) saturate(500%);
}

#join::after{
    content: attr(data-tooltip3);
    position: absolute;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

#join:hover::after{
    opacity: 1;
    transform: translateX(-50%) translateY(40%)
}

#menu{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    border: none;
    height: 40em;
    width: 30em;
    align-items: center;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -15%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    animation-name: box;
    animation-duration: 2s;
}

@keyframes box{
    0% {height: 5em; opacity: 0; background-color: black;}
    10% {height: 5em; opacity: 50%; background-color: white;}
    15% {height: 5em; opacity: 0;}
    25% {height: 5em; opacity: 75%; background-color: #332e57;}
    50% {height: 5em;}
    75% {height: 4em;}
    100% {height: 40em;}
}

#menuRight{
    height: 40em;
    width: 1em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    left: 100%;
    top: 24.5%;
    transform: translate(-100%, -20%);
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('FakeShader.png');
    color: rgba(255, 255, 255, 0);
    white-space: nowrap;
    border: none;
    outline: 1.5em solid rgb(41, 178, 215);
    border-radius: 5% 0 0 5%;
    position: fixed;
    transition: width 1s, color 1s;
    text-overflow: ellipsis;
    padding-left: 2em;
    padding-top: 1em;
    animation-name: menuRight;
    animation-duration: 2s;
}

#menuRight:hover{
    height: 40em;
    width: 20em;
    left: 100%;
    top: 24.5%;
    border-radius: 5% 0 0 5%;
    transform: translate(-100%, -20%);
    background-color: rgb(21, 18, 32);
    background-image: url('FakeShader.png');
    border: none;
    position: fixed;
    color: rgba(255, 255, 255, 1);
    text-align: start;
    opacity: 1;
    position: fixed;
    padding-left: 2em;
    padding-top: 1em;
}

@keyframes menuRight{
    from{transform: translate(100%, -20%)}
    to{transform: translate(-100%, -20%)}
}

#iconRight{
    position: fixed;
    height: 7em;
    width: auto;
    border: none;
    border-radius: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    bottom:72%;
}

#nameRight{
    position: absolute;
    padding-top: 3em;
    padding-left: 7em;
    font-family:'Courier New', Courier, monospace;
    color: #89fff7;
    text-shadow: 0 0 20px #89fff7;
}

#menuRight > #pfp2{
    position: relative;
    height: 7em;
    width: 20em;
    border: none;
    background-color: rgb(48,38,88);
    border-radius: 5%;
    opacity: 0;
}

#menuRight:not(:hover) > #pfp2{
    transition: opacity 1s;
    opacity: 0;
}

#menuRight:hover > #pfp2{
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

#but1{
    height: 1em;
    width: 1em;
    border: none;
    background-color: #48db4a;
    border-radius: 50%;
    position: relative;
    margin-bottom: 2em;
}

#but2{
    height: 1em;
    width: 1em;
    border: none;
    background-color: #edc526;
    border-radius: 50%;
    position: absolute;
    margin-left: 2em;
}

#but3{
    height: 1em;
    width: 1em;
    border: none;
    background-color: #f62727;
    border-radius: 50%;
    position: absolute;
    margin-left: 4em;
}

#status{
    color: white;
    text-shadow: 0 0 20px white;
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    padding-left: 7em;
    padding-top: 4.5em;
}

#cam{
    background-color: #2a2541;
    position: absolute;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    transform: translate(1200%, -220%);
}

#cam2{
    background-color: transparent;
    position: absolute;
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    transform: translate(1512%, -263%);
    border: solid;
    border-color: #453d69;
}

#cam3{
    background-color: #685f92;
    position: absolute;
    height: 0.3em;
    width: 0.3em;
    border-radius: 50%;
    transform: translate(4117%, -615%);
    border: none;
}

#cam4{
    background-color: #2a2541;
    position: absolute;
    transform: translate(280%, -220%);
    height: 1em;
    width: 5em;
    border-radius: 20%;
}

#tabBut{
    height: 1.2em;
    width: 5em;
    position: absolute;
    border: solid;
    background-color: transparent;
    border-color:rgb(39, 110, 176);
    border-radius: 20%;
    top: 100%;
    transform: translate(300%, 13%)
}

#fakeBut{
    height: 5em;
    width: 1em;
    position: absolute;
    transform: translate(-400%, 100%);
    border-radius: 10%;
    background-color: rgb(41, 178, 215);
    border: none;
}

#fakeBut2{
    height: 3em;
    width: 1em;
    position: absolute;
    transform: translate(-400%, 400%);
    border-radius: 10%;
    background-color: rgb(41, 178, 215);
    border: none;
}