@property --moveup {
    syntax: "<length>";
    initial-value: 0px;
    inherits: false;
  }
  
  @property --movedown {
    syntax: "<length>";
    initial-value: 57.5px;
    inherits: false;
  }
  
  body {
    overflow: hidden;
    min-height: 100vh;
    background: 
      conic-gradient(
        from 60deg at 0 50%, 
        #65adff 60deg, 
        transparent 0
      ) 100% var(--movedown) / 70px 70px repeat-y,
      conic-gradient(
        from 60deg at 0 50%, 
        #6770d5 60deg, 
        transparent 0
      ) 100% var(--moveup) / 70px 70px repeat-y #2a2541;
    animation:move 2s infinite linear
  }
  
  @keyframes move {
    100% {
      --moveup:70px;
      --movedown:-79px;
    }
  }

@font-face {
    font-family: 'Modern DOS';
    src: url('Fonts/ModernDOS.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('Fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

#Home{
    left: 2%;
    top: 2%;
    border: none;
    display: inline-block;
    padding: 0.7em 1em;
    background-color: #65ff68;
    color: #ecffe0;
    text-align: center;
    font-family: 'Modern DOS';
    text-shadow: 2px 0 #67d595;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1em;
    box-shadow: 4px 3px /*#8057b8*/ #3bba78;
    position: fixed;
    transition: text-shadow 0.2s, color 0.2s, background-color 0.2s, box-shadow 0.2s, margin 0.2s;
    z-index: 1;
}

#Home:hover{
    text-shadow: 0 0;
    color: #769de4;
    background-color: #5459e8;
    box-shadow: none;
    margin-left: 4px;
    margin-top: 3px;
}

#bigBox{
  left: 0;
  top: 0;
  height: 100%;
  width: 40em;
  position: fixed;
  background-image: linear-gradient(to top, #754eaf, #6770d5);
  z-index: 1;
  border-radius: 0 10px 10px 0;
  border: 0.2em #483480 solid;
}

#charsel{
  position: absolute;
  top: 10%;
  left: 10%;
  font-family: 'Modern DOS';
  color: #ffff72;
  text-shadow: 4px 0 #ff7965;
  letter-spacing: 0.2em;
  font-size: 2.5em;
  pointer-events: none;
}

.names{
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Modern DOS';
  color: #ff7295;
  text-shadow: 4px 0 #882a5c;
  letter-spacing: 0.2em;
  font-size: 3em;
  pointer-events: none;
}

.chars{
  position: fixed;
  background: none;
  margin-left: 55%;
  width: 25em;
  height: 100em;
  margin-top: 2em;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.2s;
}

.buddies{
  height: 25em;
  width: 25em;
  margin-bottom: 8em;
}

.description{
  font-family: 'Modern DOS';
  position: absolute;
  top: 20%;
  left: 7%;
  font-size: 1.3em;
  color: #e4f1ff;
  text-shadow: 2px 0 #949cdc;
  text-align: justify;
  padding-right: 4em;
  line-height: 2em;
}

#black{
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: black;
  opacity: 0;
  transition: opacity 2s;
  animation: black 2s;
}

@keyframes black{
    from{opacity: 1;}
    to{opacity: 0;}
}

#startbg{
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-image: linear-gradient( to top, #6770d5, #65adff);
  pointer-events: all;
  opacity: 1;
  transition: opacity 1s, pointer-events 1s;
  align-items: center;
  text-align: center;
}

#CLICK{
  top: 40%;
  transform: translate(-50% 50%);
  left: 0;
  position: relative;
  font-size: 2em;
  font-family: 'Modern DOS';
  color: #ff4c4c;
  text-shadow: 3px 0 #ab2e5c;
  animation: start 2s infinite linear;
}

@keyframes start{
  0%{color: #ff4c4c; text-shadow: 3px 0 #ab2e5c;}
  49%{color: #ff4c4c; text-shadow: 3px 0 #ab2e5c;}
  50%{color: #ffff72; text-shadow: 3px 0 #ff7965;}
  100%{color: #ffff72; text-shadow: 3px 0 #ff7965;}
}

#here{
  top: 40%;
  transform: translate(-50% 50%);
  left: 0;
  position: relative;
  height: 3em;
  width: 7em;
  font-size: 1.3em;
  font-family: 'Modern DOS';
  border: none;
  border-radius: 10px;
  background-color: #65ff68;
  box-shadow: 0 4px #3bba78;
  color: #254135;
  transition: color 0.2s, top 0.2s, box-shadow 0.2s, background-color 0.2s;
}

#here:hover{
  top: 41%;
  color: #2a2541;
  box-shadow: none;
  background-color: #3bba78;
}

.PressEnter{
  color: #65ff68;
  text-shadow: 2px 0 #3bba78;
  position: absolute;
  font-family: 'Modern DOS';
  top: 85%;
  font-size: 1.8em;
  left: 20%;
}

.musicToggle{
  height: 3em;
  width: 3em;
  position: absolute;
  left: 4%;
  top: 90%;
  background-image: url(Pause.webp);
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: background-image 0.2s;
}

.moveUp{
  opacity: 0;
  pointer-events: none;
}

.moveDown{
  opacity: 0;
  pointer-events: none;
}

.mobileDesc{
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

@media screen and (max-width: 800px) {

  body{
    overflow: hidden;
  }

  #bigBox{
    opacity: 0;
    pointer-events: none;
  }

  audio{
    opacity: 0;
    pointer-events: none;
  }

  .musicToggleP{
    height: 3em;
    width: 3em;
    position: absolute;
    left: 4%;
    top: 90%;
    background-image: url(Pause.webp);
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: background-image 0.2s;
  }

  #phoneToggle{
    z-index: 1;
    background-color: #6770d5;
    border-radius: 5px;
    background-size: 2.7em;
    background-position: 1.8px;
    background-repeat: no-repeat;
    top: 92%;
  }

  .moveUp{
    position: fixed;
    height: 2.7em;
    width: 2.7em;
    background-color: #ff4c4c;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    text-align: center;
    color: white;
    font-family: 'Modern DOS';
    opacity: 1;
    left: 80%;
    top: 75%;
    pointer-events: all;
  }

  .moveDown{
    position: fixed;
    height: 2.7em;
    width: 2.7em;
    background-color: #ff4c4c;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    text-align: center;
    color: white;
    font-family: 'Modern DOS';
    opacity: 1;
    left: 80%;
    top: 87%;
    pointer-events: all;
  }

  .chars{
    margin-left: 0;
    transform: translate(-8%);
    margin-top: 5em;
    position: fixed;
  }

  .buddies{
    height: 17em;
    width: 17em;
  }

  #Home{
    left: 2%;
    top: 2%;
    position: fixed;
  }

  .mobileBox{
    position: fixed;
    left: 7%;
    top: 25%;
    height: 0;
    width: 0;
    background-image: linear-gradient(to top, #754eaf, #6770d5);
    border: 0.2em #483480 solid;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s, pointer-events 0.3s, height 0.3s, width 0.3s;
    overflow: hidden;
    z-index: 1;
    border-radius: 10px;
  }

  .boxappear{
    opacity: 1;
    height: 25em;
    width: 20em;
    pointer-events: all;
  }

  .mobileDesc{
    opacity: 1;
    font-family: 'Modern DOS';
    padding-left: 2em;
    font-size: 0.98em;
    color: white;
    position: relative;
    text-shadow: 2px 0 #949cdc;
    text-align: justify;
    line-height: 1.2em;
    padding-right: 2em;
  }

  .mobilSel{
    position: relative;
    font-size: 1em;
    left: 25%;
    text-shadow: #a294bd;
    font-family: 'Modern DOS';
    color: #ece7ff;
    border: none;
    background-color: #5459e8;
    box-shadow: 4px 4px #583baf;
    border-radius: 10px;
    height: 3em;
    width: 10em;
    top: 0%;
    transition: color 0.3s, background-color 0.3s, left 0.3s, top 0.3s, box-shadow 0.3s, text-shadow;
  }

  .mobilSel:hover{
    color: #a294bd;
    background-color: #583baf;
    left: 25.5%;
    top: 1%;
    box-shadow: none;
    text-shadow: none;
  }

  .close{
    position: relative;
    height: 2em;
    width:2em;  
    background-color: #ff4268;
    color: white;
    font-family: 'Modern DOS';
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3px;
    padding-left: 6.5px;
    left: 2%;
    top: 2%;
    border: none;
    border-radius: 5px;
  }
}